#projects {
  height: 90%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

#project-card-holder {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#project-content {
  height: 100%;
  color: white;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#project-head {
  font-size: 100px;
  transition: all 0.3s ease 0s;
}

#project-head:hover {
  color: #5ec0e7;
}

.project-card {
  height: 27rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(43, 79, 95);
  background-color: #eecd61;
  text-align: center;
}

.project-card h2 {
  transition: all 0.3s ease 0s;
}

.project-card h2:hover {
  color: azure;
}

.project-card-head {
  padding: 20px 8px 8px 8px;
}

.project-card-content {
  padding: 5px 70px;
}

.code {
  display: block;
  height: 3rem;
  width: 40%;
  margin: 10px 30%;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-image: linear-gradient(135deg, #667eeada 0%, #764ba2d7 100%);
  transition: all 0.3s ease 0s;
}

.code:hover {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.project-card-content a {
  text-decoration: none;
  color: white;
}
