@media only screen and (max-width:900px) {


    /* Home Page */


    #nav{
        position: relative;
    }
    li a, #contact-button{
        font-size: 10px;
    }
    #brand{
        font-size: 20px;
    }
    #txt,#txt2{
        font-size: 60px;
    }
    #txt{
        margin-left: 40%;
    }
    #txt2{
        margin-bottom: 10%;
    }
    #logo{
        margin: 0% 5% 0%;
        width: 90%;
    }
    #contact-button{
        margin-left: 0px;
    }

    /* Skills Page */

    #skill-content{
        display: flex;
        flex-direction: column;
    }
    .skill-tag{
        font-size: 15px;
    }
    .skill-sub{
        align-self: center;
        flex: 1;
        font-size: 20px;
    }
    #skills{
        width: 100%;
    }

    #skill-head{
        font-size: 50px;
        flex: 2;
    }

    /* Project Page */

    #projects{
        height: fit-content;
    }

    #project-content{
        height: fit-content;
    }

    #project-head{
        font-size: 50px;
    }

    h2.project-card-head{
        padding: 0px;
    }

    #project-main{
        width: 100%;
        height: 100%;
    }

    .project-card-content{
        padding-top: 20px;
    }

    .project-card{
        font-size: 0.5em;
        height: 15rem;
        width: 20rem;
    }

    #project-card-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
      }

      /* Contact Page */

      #contact-head{
          font-size: 30px;
      }

      #contact-content{
          font-size: 15px;
      }

      #contact-c{
          flex-direction: column;
          justify-content: center;
      }

      #contact-para{
          flex: 1;
          padding: 0rem 2rem 5rem;
      }
      #contact-links{
          padding: 0px;
      }
}