#logo {
  margin-left: 25%;
  animation: fill-anim 0.5s ease forwards 6.5s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 571.9447631835938px;
  stroke-dashoffset: 571.9447631835938;
  animation: line-anim 5s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 589.5317993164062px;
  stroke-dashoffset: 589.5317993164062px;
  animation: line-anim 5.3s ease forwards;
}
#logo path:nth-child(3) {
  stroke-dasharray: 514.4920654296875px;
  stroke-dashoffset: 514.4920654296875px;
  animation: line-anim 5.6s ease forwards;
}
#logo path:nth-child(4) {
  stroke-dasharray: 556.7999267578125px;
  stroke-dashoffset: 556.7999267578125px;
  animation: line-anim 5.9s ease forwards;
}
#logo path:nth-child(5) {
  stroke-dasharray: 510px;
  stroke-dashoffset: 510px;
  animation: line-anim 6.1s ease forwards;
}
#logo path:nth-child(6) {
  stroke-dasharray: 629.6697998046875px;
  stroke-dashoffset: 629.6697998046875px;
  animation: line-anim 6.4s ease forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-anim {
  from {
    fill: transparent;
  }
  to {
    fill: whitesmoke;
  }
}
