#project-content {
  width: 100%;
  background-color: rgb(63, 63, 63);
}

#project-content .project {
  color: white;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#project-card-holder {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

#project-head {
  font-size: 80px;
}

.project-card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgb(43, 79, 95);
  background-color: #e8f1f3;
  text-align: center;
  margin: 20px;
}

.project-card-head {
  padding: 0 8px;
}

.project-card-content {
  padding: 0 30px;
}

.code {
  display: block;
  height: 50px;
  width: 150px;
  margin: 10px auto;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-image: linear-gradient(135deg, #667eeada 0%, #764ba2d7 100%);
}

.code i {
  font-size: 18px;
}

.proj:hover,
.code:hover {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.project-card-content a {
  text-decoration: none;
  color: white;
}

//testing

.intro {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(234, 249, 249, 0.67) 0.1%,
    rgba(239, 249, 251, 0.63) 90.1%
  );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}

.slider {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.hide {
  background-color: transparent;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}
